beautifulsoup4==4.11.1
exchangelib==4.5.1
jira==3.4.1
jsonpickle==2.0.0
keyboard==0.13.5
lxml==4.9.1
msal==1.20.0
msal_extensions==1.0.0
msrest==0.7.1
pandas==1.4.4
PDFNetPython3==9.4.0
Pillow==9.3.0
PyAutoGUI==0.9.53
PyJWT==2.6.0
pykeepass==4.0.3
pyodbc==4.0.32
pyOpenSSL==22.1.0
PyPDF2==2.11.2
pyperclip==1.8.2
pytesseract==0.3.10
python_dateutil==2.8.2
pytz==2022.2.1
pywin32==305
reportlab==3.6.12
requests==2.28.1
selenium==4.6.1
setuptools==65.6.3
signpdf==0.0.3
urllib3==1.26.13
webdriver_manager==3.8.3
xmltodict==0.12.0