pypdf2
requests
bs4
beautifulsoup4
selenium
xmltodict
lxml
pandas
urllib3
python-dateutil
jira
PyAutoGUI
future
Pillow
pykeepass
PyJWT
msal
openai
pypiwin32
pywin32
psycopg2-binary
keyboard
uuid
pyodbc
matplotlib
spacy
tensorflow
exchangelib
defusedxml
Werkzeug
dill
setuptools
keras>=2.13.1rc0 # not directly required, pinned by Snyk to avoid a vulnerability